/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Oct 26, 2023, 8:40:54 AM
    Author     : Windows
*/
/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Oct 26, 2023, 2:11:19 AM
    Author     : Windows
*/
.hero {
    padding: 50px 0 50px;
     background: #F0E4C9;
}
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.hero__inner {
    display: flex;
   
}
.hero__content {
    align-self: center;
    flex-shrink: 0;
    width: calc((570 / 1170) * 100%);
}

.hero__heading {
  color: var(--text-color-dark, #131717);
font-family: Roboto Slab;
font-size: 58px;
font-style: normal;
font-weight: 700;
line-height: 68px; /* 117.241% */
}

.hero__heading-img {
    width: 174px;
    height: 56px;
    object-fit: cover;
    border-radius: 50px;
}

.hero__desc {
color: var(--text-color-dark, #131717);
font-family: Manrope;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
}
.hero-action{
display: inline-flex;
padding: 15px 35px;
align-items: flex-start;
gap: 10px;
background: var(--shapes-color-green, #005D63);
font-family: Manrope;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 30px; /* 166.667% */
 margin-top: 44px;
    display: flex;
    column-gap: 30px;
}
.hero-action a{
 color: var(--text-color-white, #FFF);  
}
.hero-action__asking {
    min-width: 189px !important;
    background-color: transparent !important;
    border: 1px solid #676562 !important;
}

.hero__media {
    margin-left: 100px;
}

.hero__media-img {
    width: 500px;
    height: 526px;
    object-fit: cover;
}
/*banner*/
main{
    margin-top: 70px;
}
.section-heading {
font-family: Roboto Slab;
    font-weight: 600;
    font-size: 4rem;
    line-height: 1.08;
    color: black;
}
.wide {
    max-width: 1200px;
    margin: 0 auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -4px;
    margin-right: -4px;
}

.row.no-gutters {
    margin-left: 0;
    margin-right: 0;
}
.col {
    padding-left: 4px;
}
.banner__item {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    font-family: 'Nunito Sans', sans-serif;
}

.banner__item:hover .banner__item-text a::after {
    width: 40px;
    background-color: var(--primary-color);
}

.banner__item-img img {
    max-width: 100%;
    background-position: center;
}

.banner__item-text {
    position: absolute;
    left: 0;
    max-width: 300px;
    padding-top: 20px;
}


.banner__item-text h2 {
    margin-bottom: 10px;
    font-size: 35px;
    font-weight: 700;
    line-height: 40px;
    color: var(--text-color);
}

.banner__item-text a {
    position: relative;
    display: inline-block;
    padding: 15px 35px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    background: #73A6AA;
    
}

.banner__item-text a::after{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    padding: 1px 3px;
    height: 2px;
    left: 0;
    bottom: 0;
    transition: all 0.3s;
}

.banner__item.banner__item--middle {
    flex-direction: column;
    align-items: flex-start;
    margin-top: -70px;
}

.banner__item.banner__item--middle .banner__item-text {
    position: unset;
}

.banner__item.banner__item--last {
    margin-top: 100px;
}
/*sale*/
.sale{
    position: relative;
    margin-top: 70px;
   background: #F1DEB4;
   display: grid;
}
.saler{
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
     align-items: center;
}

.ban h2{
color: var(--text-color-dark, #131717);
font-family: Roboto Slab;
font-size: 42px;
font-style: normal;
font-weight: 600;
line-height: 52px; /* 123.81% */
margin-top: 20px;
}
.ban h1{
   color: var(--shapes-color-dark, #131717);

/* H1 */
font-family: Roboto Slab;
font-size: 58px;
font-style: normal;
font-weight: 700;
line-height: 68px; /* 117.241% */ 
margin-top: 10px;
}
span{
    color: var(--shapes-color-green, #005D63);

/* H1 */
font-family: Roboto Slab;
font-size: 58px;
font-style: normal;
font-weight: 700;
line-height: 68px; /* 117.241% */
padding-top: 20px;
}
/*footer*/
.send {
    background: #131717;
    padding-top: 70px;
}
.footer__about {
    margin-bottom: 30px;
}

.footer__about .footer__logo {
    margin-bottom: 30px;
}

.footer__about .footer__logo a {
    display: inline-block;
    text-decoration: none;
    background-color: transparent;
}


.footer__about p {
    color: #b7b7b7;
    font-size: 16px;
    font-family: 'Nunito Sans', sans-serif;
    line-height: 25px;
    margin-bottom: 30px;
}

.footer__widget {
    margin-bottom: 30px;
}

.footer__widget h6 {
    color: white;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
    font-family: 'Nunito Sans', sans-serif;
}

.footer__widget ul li {
    line-height: 36px;
    list-style: none;
}

.footer__widget ul li a {
    color: #b7b7b7;
    font-size: 16px;
    text-decoration: none;
    font-family: 'Nunito Sans', sans-serif;
}

.footer__widget .footer__newslatter p {
    color: #b7b7b7;
    font-size: 16px;
    font-family: 'Nunito Sans', sans-serif;
    line-height: 25px;
    margin-bottom: 30px;
}

#newletter-form {
    position: relative;
}

.footer__widget .footer__newslatter form input {
    width: 100%;
    font-size: 16px;
    color: var(--white-color);
    background: transparent;
    border: none;
    padding: 16px 36px 16px 0;
    border-bottom: 2px solid var(--white-color);
    outline: none;
    overflow: visible;
    font-family: 'Nunito Sans', sans-serif;
    margin-bottom: 6px;
}

.footer__widget .footer__newslatter form input:-webkit-autofill,
.footer__widget .footer__newslatter form input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}

.footer__widget .footer__newslatter form button {
    color: #b7b7b7;
    font-size: 20px;
    position: absolute;
    right: 5px;
    top: 0;
    line-height: 55px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.footer__widget .footer__newslatter form button:hover {
    color: var(--primary-color);
}

.form-group.invalid .form-control {
    border-color: #f33a58;
}

.form-group.invalid .form-message {
    color: #f33a58;
}

/* Mobile: width < 740px */
@media only screen and (max-width: 739px) {

    .footer__about,
    .footer__widget {
        padding: 0 20px;
    }
}

/* Tablet: width >= 740px and width < 1024px */
@media only screen and (min-width: 740px) and (max-width: 1023px) {
    .footer__widget {
        margin-bottom: 60px;
    }

    .footer__widget .footer__newslatter p {
        margin-bottom: 16px;
    }
}

/* pc: width >= 1024px */
@media only screen and (min-width: 1024px) {}
